[project]
name = "pipeline"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "click>=8.1.0",
    "duckdb>=1.1.3",
    "polars>=1.0.0",
    "tqdm>=4.67.1",
]

[dependency-groups]
dev = [
    "marimo>=0.19.7",
]
